// お気に入り
#star {
  margin-right: 2.5vw;
  vertical-align: top;
}
.red-star, .white-star {
  margin-right: 1vw;
}
.likes-count {
  vertical-align: bottom;
}
// 王冠
#ranking {
  margin-right: 2.5vw;
  vertical-align: top;
}
.red-ranking {
  margin-right: 1vw;
}
.ranking-count {
  vertical-align: bottom;
}
