#piyo {
  position: fixed;
  bottom: 2.5vw;
  right: 1vw;
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}
.modalWrapper {
  position: absolute;
  top: 50%;
  max-height: 90vh;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 90%;
  padding: 10px 10px;
  background-color: #fff;
}
.modalContents {
  max-height: 80vh;
  overflow: auto;
}
.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
